/ top navigation
.top_nav
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
            / = image_tag "img.jpg"
            = current_user.full_name
            %span.fa.fa-angle-down
          %ul.dropdown-menu.dropdown-usermenu.pull-right
            %li
              %a{:href => edit_admin_user_path(current_user)} Profile

            - if can? :manage, Gluttonberg::Setting
              %li
                = active_link_to("Configuration", admin_configurations_path , :id => "metadataNav"  , :title => "Configurations")  
                
            %li
              %a{:href => "/admin/logout"}
                %i.fa.fa-sign-out.pull-right
                Log Out
        